body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover,
a:focus {
  color: #404bbf;
}
a :active {
  color: #404bbf;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.nav {
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding-left: 156px;
  padding-right: 156px;
}
.nav-list {
  list-style: none;
  padding-left: 0;
}

.nav-list-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}

.nav-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-right: 40px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #2e2f42;
}

.nav-address {
  font-style: normal;
}

.nav-address-list {
  list-style: none;
  padding-left: 0;
  justify-content: flex-end;
}
.nav-address-item {
  margin-left: 40px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
}

.address-list-link {
  color: #434455;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.address-list-link:hover,
.address-list-link:focus {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 48px;

  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin: 0;
  font-size: 56px;
  line-height: 1.07;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;

  height: 56px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
.btn:active {
  background-color: #404bbf;
}

.about {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.about-list {
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}

.about-item {
  margin-left: 0;
  margin: 0 24px 0 0;
}

.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.team-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0;
}

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}
.team-members {
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin-top: 72px;

  margin-left: auto;
  margin-right: auto;
}

.team-member-card {
  background-color: #ffffff;
}
.member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.member-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.portfolio {
  padding: 120px 0;
  margin-left: auto;
  margin-right: auto;
}

/*.portfolio-content {
 
}*/

.portfolio-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0;
  margin-bottom: 72px;
}
.portfolio-list {
  list-style: none;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  row-gap: 48px;
}
.portfolio-item {
  border: 1px solid #e7e9fc;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-left: 16px;
  margin-top: 32px;
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  padding-left: 16px;
  margin-bottom: 32px;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-content {
  margin-left: 156px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
}

.logo-studio-header {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
}
