body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
a:hover,
a:focus {
  color: #404bbf;
}
a :active {
  color: #404bbf;
}

ul,
ol {
  list-style-type: none;
}

/*.nav {
  
}*/
.nav-list {
  list-style: none;
}

.nav-list-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}

.nav-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #2e2f42;
}

.nav-address {
  font-style: normal;
}

.nav-address-list {
  list-style: none;
}
.nav-address-item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
}

.address-list-link {
  color: #434455;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.address-list-link:hover,
.address-list-link:focus {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 48px;

  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;

  font-size: 56px;
  line-height: 1.07;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
.btn:active {
  background-color: #404bbf;
}

/*.about {
 
}*/

.about-list {
  list-style: none;
}

/*.about-item {
  
}*/

.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.team-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team {
  background-color: #f4f4fd;
}
.team-members {
  list-style: none;
}

.team-member-card {
  background-color: #ffffff;
}
.member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.member-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/*.portfolio {
  
}*/

/*.portfolio-content {
 
}*/

.portfolio-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio-list {
  list-style: none;
}
/*.portfolio-item {
  
}*/

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
}

/*.footer-content {
  
}*/
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
}

.logo-studio-header {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
}
