body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  border-bottom: 1px solid #e7e9fc;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

section {
  padding: 120px 0;
}
/* -----------------------------------------------------------------------------------
Без понняття чому я це написав, бо нижче в коді задав ховер для класу .nav-list-link 
Поки закоментую на всяк випадок бо не впевнений щодо :active

a:hover,
a:focus {
  color: #404bbf;
}
a :active {
  color: #404bbf;
}
---------------------------------------------------------------------------------------*/
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-list-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  padding: 24px 0;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}

.nav-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #2e2f42;
}

.nav-address {
  font-style: normal;
}

.nav-address-list {
  list-style: none;
  display: flex;
  gap: 40px;
}
.nav-address-item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
}

.address-list-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.address-list-link:hover,
.address-list-link:focus {
  color: #404bbf;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 48px;

  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;

  font-size: 56px;
  line-height: 1.07;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  margin-top: 48px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
.btn:active {
  background-color: #404bbf;
}

.about-title-main {
  visibility: hidden;
}

.about-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.about-item {
  flex: 1;
  width: calc((100% - 72px) / 4);
}

.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team {
  background-color: #f4f4fd;
}
.team-members {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 24px;
}

.team-member-card {
  width: calc((100% - 72px) / 4);
  text-align: center;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  padding-bottom: 32px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  padding-top: 32px;
}
.member-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*.portfolio {
  
}*/

/*.portfolio-content {

}*/

.portfolio-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  padding-top: 32px;
  padding-left: 16px;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  padding-bottom: 32px;
  padding-left: 16px;
  margin-top: 8px;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-studio-header {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
